In [16]:
def ee():
    return True

In [12]:
str('p')

'p'

In [13]:
str=1
str('e')

TypeError: 'int' object is not callable

In [172]:
yy=[2937, 4321, 4752, 5527]
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6} |'*4).format(1,2,3,4)
# header=f"|{"country" :^{len("country")}}|"

file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))
print(file_content)

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |   1    |   2    |   3    |   4    |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [129]:
table_data=('Symbol', 'Name', 'Last', 'Change', 'Share Volume')
row = '| {:<13} |' + ' {:6,d} |'*4
row=format('China', 2937, 4321, 4752, 5527)

['China', 2937, 4321, 4752, 5527]

In [171]:
q=('China', 2937, 4321, 4752, 5527)
p=[]
for qq in q:
    p+=f'|{qq:^{len(str(qq))+2}}|'

['|',
 ' ',
 'C',
 'h',
 'i',
 'n',
 'a',
 ' ',
 '|',
 '|',
 ' ',
 '2',
 '9',
 '3',
 '7',
 ' ',
 '|',
 '|',
 ' ',
 '4',
 '3',
 '2',
 '1',
 ' ',
 '|',
 '|',
 ' ',
 '4',
 '7',
 '5',
 '2',
 ' ',
 '|',
 '|',
 ' ',
 '5',
 '5',
 '2',
 '7',
 ' ',
 '|']

In [124]:
title = 'MOST ACTIVE BY SHARE VOLUME'
table_data=('Symbol', 'Name', 'Last', 'Change', 'Share Volume')
data=(('China', 2937, 4321, 4752, 5527),('Germany', 4225, 5411, 6453, 6718),('United States', 3772, 4755, 5854, 6988))



# line = '*' + '-'*15 + '+' + ('-'*8 + '+')*len(table_data)
# line_len=len(line)
# title= f"|{title :^{line_len}}|"

for j in data:
    for m in j:
        row = '| {:<13} |' + ' {:6,d} |'*len(table_data)
        row= f"|{title :<len|"
        print(row)
# header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
#                                                                   2000, 2010)
# file_content = '\n'.join(('-'*(len(title)),title))#,line,header,line))
# for line in data:
#     file_content.join(row.format('Germany', 4225, 5411, 6453, 6718))
# row.format(line),
#       row.format('Germany', 4225, 5411, 6453, 6718),
#       row.format('United States', 3772, 4755, 5854, 6988)

# print(file_content)

|                 MOST ACTIVE BY SHARE VOLUME                  |
|                 MOST ACTIVE BY SHARE VOLUME                  |
|                 MOST ACTIVE BY SHARE VOLUME                  |

In [54]:
row

'| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |'

In [98]:
# assigning strings to the variables
left_alignment = "Left Text"
center_alignment = "Centered Text"
right_alignment = "Right Text"
i=20
# printing out aligned text
print(f"{left_alignment : <{i}}{center_alignment : ^15}{right_alignment : >20}")

|   Centered Text    |

In [4]:
dict{"a":"w"}

SyntaxError: invalid syntax (1195757191.py, line 1)

In [17]:


title ='Student Grades'
# table_data=('Symbol', 'Name', 'Last', 'Change', 'Share Volume')
table_data=('Student ID', 'Test1', 'Test2','Midterm', 'Quizzes', 'Final')
data = (
            (2014255, 55, 78, 63, 50, 80),
            (2014301, 83, 45, 88, 52, 47),
            (2014023, 75, 70, 42, 74, 63),
            (2014155, 67, 87, 54, 87, 86),
        )


heading_length=[]
for i in range(len(table_data)):
    heading_length.append(len(str(table_data[i])))
heading_length

record_length=[0]*len(table_data)
for i in data:
    for j in range(len(i)):
        # print(i[j])
        record_length[j]=max(record_length[j],len(str(i[j])))

final_len=[]
final_list=list(zip(heading_length,record_length))
for i in final_list:
    # print(max(i))
    final_len.append(max(i)+2)
final_len
# print(sum(final_len)+ (len(final_len)*2))
print(final_len)
total_len=6+len(data)
print(total_len)

row_outline=''
for b in final_len:
    row_outline+='+'+('-'*b)
row_outline+='+'

rows_cumi=[]
for t in data:
    rows=''
    for cell in range(len(t)):
        rows+='|'+ f'{t[cell]:^{final_len[cell]}}'
    rows_cumi.append(rows+'|')
rows_cumi

title = '|' + f'{title:^{len(row_outline)-2}}' + '|'
top_border= '-'*len(row_outline)
header=""
for headings in range(len(table_data)):
        header+='|'+ f'{table_data[headings]:^{final_len[headings]}}'
header=header + "|"


# final_table=

[12, 7, 7, 9, 9, 7]
10

In [18]:
top_border
title
row_outline
header
row_outline
final_row_list=[top_border,title,row_outline,header,row_outline]
for row_data in rows_cumi:
    final_row_list.append(row_data)

final_row_list.append(row_outline)
# for line in final_row_list:
#     print(line)


final_file = '\n'.join(final_row_list)
my_file = open(filename, 'w')
my_file.write(final_file)
my_file.close()
print(final_file)

----------------------------------------------------------
|                     Student Grades                     |
+------------+-------+-------+---------+---------+-------+
| Student ID | Test1 | Test2 | Midterm | Quizzes | Final |
+------------+-------+-------+---------+---------+-------+
|  2014255   |  55   |  78   |   63    |   50    |  80   |
|  2014301   |  83   |  45   |   88    |   52    |  47   |
|  2014023   |  75   |  70   |   42    |   74    |  63   |
|  2014155   |  67   |  87   |   54    |   87    |  86   |
+------------+-------+-------+---------+---------+-------+

In [9]:
with open('filename.txt', 'w') as f:
    for line in final_row_list:
        f.write(line)
        f.write('\n')

In [13]:
title ='Student Grades'
filename='test.txt'
# table_data=('Symbol', 'Name', 'Last', 'Change', 'Share Volume')
header=('Student ID', 'Test1', 'Test2','Midterm', 'Quizzes', 'Final')
data = (
            (2014255, 55, 78, 63, 50, 80),
            (2014301, 83, 45, 88, 52, 47),
            (2014023, 75, 70, 42, 74, 63),
            (2014155, 67, 87, 54, 87, 86),
        )


column_lengths = []
for heading in header:
    column_lengths.append(len(heading))
for row in data: 
    for (ind,item) in enumerate(row):
        column_lengths[ind]=max(column_lengths[ind],len(str(item)))

# column types
column_types = []
for item in data[1]: 
    if isinstance(item, str):
        column_types.append('s')
    else:
        column_types.append('d')


# middle dotted line
middle_row_format = '+'
middle_line_words = ['']*len(column_lengths)
for length in column_lengths:
    middle_row_format+='{:-^'+str(length+2)+'s}+'
dashed_line = middle_row_format.format(*middle_line_words)
top_line = '-'*len(dashed_line)


# Subject Line
subject_line_format = '|{:^'+str(len(top_line)-2)+'s}|'
subject_line = subject_line_format.format(title)

#Headers Line
header_format = '|'
for length in column_lengths:
    header_format+=' {:^'+str(length)+'s} |'

# rows Line
header_format = '|'
for length in column_lengths:
    header_format+=' {:^'+str(length)+'s} |' 


# rows Line
row_format = '|'
for (length,type) in zip(column_lengths,column_types):
    row_format+=' {:^'+str(length)+type+'} |' 

header = header_format.format(*header)

# top dotted line


lines_to_print = [top_line,subject_line,dashed_line, header, dashed_line]
for data_row in data:
    data_line = row_format.format(*data_row)
    lines_to_print.append(data_line)
lines_to_print.append(dashed_line)

file_content = '\n'.join(lines_to_print)
my_file = open(filename, 'w')
my_file.write(file_content)
my_file.close()
print(file_content)

----------------------------------------------------------
|                     Student Grades                     |
+------------+-------+-------+---------+---------+-------+
| Student ID | Test1 | Test2 | Midterm | Quizzes | Final |
+------------+-------+-------+---------+---------+-------+
|  2014255   |  55   |  78   |   63    |   50    |  80   |
|  2014301   |  83   |  45   |   88    |   52    |  47   |
|  2014023   |  75   |  70   |   42    |   74    |  63   |
|  2014155   |  67   |  87   |   54    |   87    |  86   |
+------------+-------+-------+---------+---------+-------+