In [4]:
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i, a[index])

NameError: name 'index' is not defined

In [23]:
x=list(range(5))
x

[0, 1, 2, 3, 4]

In [6]:
def ex3(score):
    # A certain CS professor gives 100-point exams that are graded on the scale 90-100: A, 80-89: B, 70-79: C,
    # 69-69: D, < 60: F. Complete this function which accepts an exam score as input and uses a decision structure
    # to calculate the corresponding grade.
    # BEGIN SOLUTION
    if score >=90:
        return 'A'
    elif score >=80:
        return 'B'
    elif score >=70:
        return 'C'
    elif score >=60:
        return 'D'
    else:
        return 'F'
ex3(83)

'D'

In [12]:
def ex4(credits):
    # A certain college classifies students according to credits earned. A student with less than 7 credits is a Freshman.
    # At least 7 credits are required to be a Sophomore, 16  to be a Junior and 26 to be classified as Senior.
    # Complete this function which calculates the class standing from the number of credits earned.
    # BEGIN SOLUTION
    # <7credits  Fresmnen
    # >=7 Sophomore
    # >=16 Juniour
    # >=26 
    if credits < 7:
        return 'Freshman'
    elif credits >=26:
        return 'Senior'
    elif credits >=16:
        return 'Junior'
    else:
        return 'Sophomore'
ex4()

'Freshman'

In [24]:
for i,j in  enumerate(x):
    x[i]=x[i]*2
x

[0, 2, 4, 6, 8]

In [13]:
for k in x:
    k=k*2

In [22]:
'March' > 'January'

True

In [27]:
for u in x:
    print(u)

0
2
4
6
8

In [30]:
print(u)

8

In [31]:
for i,j,k in zip(range(5),range(5),range(5)):
    print(i,j,k)

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

In [35]:
c=tuple(zip(range(5),range(5),range(5)))

In [36]:
for i in c:
    print(i)

(0, 0, 0)
(1, 1, 1)
(2, 2, 2)
(3, 3, 3)
(4, 4, 4)

In [38]:
a=[1,1,1,2,3,3,4,5,2]
b=[]
for i in a:
    if i not in b:
        b.append(i)
b

[1, 2, 3, 4, 5]

In [15]:
def ex5(limit, speed):
    # The speeding ticket fine policy in Podunksville is $50 plus $5 for each mph over the limit plus a
    # penalty of $200 for any speed over 90 mph. Complete this function which accepts a speed limit and a clocked
    # speed and either return the string `Legal` or the amount of fine, if the speed is illegal.
    # BEGIN SOLUTION
    if speed < limit:
        return 'Legal'
    else:
        extra_speed = speed - limit
        fine = (extra_speed * 5)+50
        if speed > 90:
            fine+=200
            return fine
        return fine
ex5(55, 45)

'Legal'

In [19]:
d='fKJFJRJjj'
d=d.lower()

In [20]:
d

'fkjfjrjjj'

In [35]:
def ex7(month, day):
    
    # Month_Dicto = {'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12}
    # if month_dicto [month] >= 3 and day >

    # Month_Dicto = {'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12}
    # if month_dicto [month] >= 3 and day >

    if  3 <= Month_Dicto[month] <= 6:
        if (Month_Dicto[month] ==3 and day >= 20) or (Month_Dicto[month] <=6 and day <= 20):
            return 'Spring'

    elif  6 <= Month_Dicto[month] <= 9:
        if (Month_Dicto[month] ==6 and day >= 21) or (Month_Dicto[month] <=9 and day <= 21):
            return 'Summer'
    elif  9 <= Month_Dicto[month] <= 12:
        if (Month_Dicto[month] ==9 and day >= 22) or (Month_Dicto[month] <=12 and day <= 20):
            return 'Fall'

    else:
        return 'Winter'
ex7('May',21)

In [43]:
def ex8(year):
    # Complete this function to check if year is a leap year
    # Input: year
    # Output: True or False (Boolean)

    # BEGIN SOLUTION
    year=str(year)
    return int(year[:2])%4==0 and int(year[2:])%4==0
ex8(1800)

False

In [42]:
h=999
h[:1]

TypeError: 'int' object is not subscriptable

In [47]:
date='02/02/1990'

date=date.split('/')
date

['02', '02', '1990']

In [54]:
def ex12(date):
    # A magic date is a date where the day multiplied by the month is equal
    # to the two digit year. For example, June 10, 1960 is a magic date because
    # June is the sixth month, and 6 times 10 is 60, which is equal to the two
    # digit year. Complete this function to determine whether or not a date is
    # a magic date.

    # input: date (str -- month/day/year) -- e.g., 06/01/2022 -- will have leading zero before month and day
    # output: True or False (bool)
    # Hint: use string indexing to extract the month, day, and year from the date string

    # BEGIN SOLUTION
    date=date.split('/')
    len_date=len(date)
    for i in range(len_date):
        date[i]=int(date[i])
    print(date)
    if date[0]*date[1] == date[2]%100:
        return True
    else:
        return False
ex12('02/02/1990')

[2, 2, 1990]

False

In [55]:
f='lll'
len(f)

3

In [61]:
def ex11(plate):

    # In a particular jurisdiction, older license plates consist of three uppercase
    # letters followed by three digits. When all of the license plates following
    # that pattern had been used, the format was changed to four digits followed by
    # three uppercase letters.

    # Complete this function whose only input is a license plate and its output
    # is: 1) Older/Valid 2) Newer/Valid 3) Invalid
    # input: plate (str)
    # output: 'Older/Valid' or 'Newer/Valid' or 'Invalid'
    # HINT: Use the comparator operators (>=, <=)!

    # BEGIN SOLUTION
    if len(plate)==6:
        if plate[:3].upper()!=plate[:3]:
            return 'Invalid'
        else:
            return 'Older/Valid'
       
    else:
        print(0)
        if plate[4:].upper()!=plate[4:]:
            return 'Invalid'
        else:
            return 'Newer/Valid'
ex11('1934ABT')

0

'Older/Valid'

In [73]:
def ex9(month, day, year):
    # Complete this function to check if a data is valid, given month, day, and year.
    # For example, 5/24/1962 is valid, but 9/31/2000 is not
    # Inputs: month, day, year
    # Output: True or False (Boolean)
    # IMPORTANT: Use the function ex8() to determine if year is leap year

    # BEGIN SOLUTION
    if month==2 and day>=29:
        return True
    if month<=7:
        if month%2!=0 and day<=30:
            return True
        elif month%2==0 and day<=31:
            return True
    else:
        print(0)
        if month%2!=0 and day<=30:
            return True
        elif month%2==0 and day<=31:
            print(8)
            return True
        else:
            return False
    # else:
    #     print(1)
    #     if month==2 and day>28:
    #         return False
    #     if month==8 and day >31:
    #         return False

    #     else:
    #         if month%2!=0 and day<30:
    #             return True
    #         elif month%2==0 and day<30:
    #             return True
ex9(9, 31, 2000)

0

False

In [ ]:
#****************************************************************************   new_class **********************************************************************************

In [2]:
x=[1,2,3,4]
out= [i*i for i in x]

In [3]:
out

[1, 4, 9, 16]

In [4]:
x=['a','f','f']
upp= [i.upper() for i in x]

In [5]:
upp

['A', 'F', 'F']

In [6]:
out=[i*i for i in x if i!=i]

In [7]:
out

[]

In [10]:
out=[]
for i in x:
    if i!='a':
        continue
    else:
        out.append(i)

In [11]:
out

['a']

In [13]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)

temp=[ele*ele for ele in my_list]
temp

[1, 4, 9]

In [14]:
animal = 'buffalo'
out=[a.upper() for a in animal]
out

['B', 'U', 'F', 'F', 'A', 'L', 'O']

In [16]:
students = ['jo hn', 'ja ne', 'd oe']
out=[i.title() for i in students]
out

['Jo Hn', 'Ja Ne', 'D Oe']

In [18]:
my_list = [0, '', [],9]
out=[bool(i) for i in my_list]
out

[False, False, False, True]

In [19]:
my_list = range(6)
out=[str(i) for i in my_list]
out

['0', '1', '2', '3', '4', '5']

In [22]:
numbers = range(20)
out=[n for n in numbers if n%2==0]
out

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
sentence = 'I rEAlly want to gO to work'
ov='aeiou'
out=[s for s in students if  ]

In [23]:
a={1,2,3,4,5,6}
b={5,6,7,8,9,0}
a-b

{1, 2, 3, 4}

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [28]:
n = -55555

def retmin(a):
    current_str = str(a)
    bPositive = (int(current_str) > 0)
    if bPositive: 
        current_max = -1
    else:
        current_max = 1
    # Loop thru sting from back
    for index, elem in enumerate(current_str):
        print()
        if(elem == '5'):
            # ctor new string
            buf = current_str[:index]+current_str[index+1:]
            if(bPositive): 
                current_max = max(int(buf), current_max)
            else:
                current_max = min(int(buf), current_max)
            
    return current_max
    
print(retmin(n))

-1